body{
    margin: 0;
    padding: 0;
}
.main-col{
    width: 100%;
    display: flex;
    background-color: antiquewhite;
    height: 100vh;
}

.col-1,.col-3{
    width: 25%;
    background-color: aqua;
}
.col-2{
    width: 50%;
    background-color: burlywood;
}